// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@700&display=swa');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'profile';
@import 'post';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 935px;
    }
}
