* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@700&display=swa');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'home';
