.post-detail a {
    color: #000;
    text-decoration: none;
    &.follow {
        color: #3490dc;
    }
}

.post-user-info {
    img {
        max-width: 3rem;
    }
}

.post-single {
    border: 5px solid #3c3c3c;
}
