.user-profile-image {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 1fr);
    gap: .5rem;
}

.grid-item {
    width: 100%;
    height: 100%;
}

.user-profile-numbers {
    flex-direction: column;
}

@media (min-width: 760px) {
    .user-profile-image {
        height: 10rem;
        width: 10rem;
    }

    .grid {
        gap: 1.5rem;
    }

    .user-profile-numbers {
        flex-direction: row;
    }
}

// @media (min-width: 1120px) {
//     .grid {
//         grid-auto-rows: 250px;
//     }
// }
